body{
    background-color: royalblue;
    max-width: 1500px;
}
.App{
    right: 30%;
    bottom: 40%;
}
.open-modal-btn{
    background-color: lightyellow;
    border-radius: 20px;
    height: 60px;
    width: 200px;
}
.open-modal-btn:hover {
    box-shadow: 5px 8px 10px 10px rgba(0, 0, 0, 0.1);
}
.close-modal-btn{
    display: none;
}
.modal{
    position: relative;
    height: 400px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 3px 5px 2000px rgba(0, 0, 0, 0.1);
}
.svg-close{
    margin-top: 10px;
    margin-left: 450px;
    z-index: 2;
}
.giph-modal{
    border-radius: 20px;
    margin: 40px;
}

/* quizziz */

.main{
    z-index: 0;
    text-align: center;
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    width: 550px;
}

.question-variants{
    list-style-type: none;
    height: 40px;
    overflow: hidden;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.progress{
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
}
.progress__inner{
    height: 100%;
    border-radius: 30px;
    width: 100%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
.result-img{
    margin-top: 30px;
    height: 150px;
    width: 150px;
}
.button-retry{
    height: 40px;
    width: 180px;
    border-radius: 20px;
    background-color: fuchsia;
    border-color: fuchsia;
}
.block{
    margin: 30px 100px 50px 100px;
}
/* @media screen and (max-width : 1125px){
    .App{
        margin-left: 20%;
    }
}
@media screen and (max-width : 850px) {
    .App{
        margin-left: 10%;
    }
}
@media screen and (max-width : 700px) {
    .App{
        margin-left: 5%;
    }
}
@media screen and (max-width : 620px) {
    .App{
        margin-left: 2%;
    }
}
@media screen and (max-width : 580px) {
    .main{
        width: 500px;
    }
    .App{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 560px) {
    .App{
        margin-left: 2%;
        margin-right: 2%;
    }
} */